.display-area {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.display-box {
  display: inline-block;
  width: 200px;
  height: auto;
  border: 1px solid;
  border-color: black;
  margin-right: 20px;
  background-color: rgb(241, 241, 241);
}

.checkbox_sec{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  padding-top: 5px;
  margin-bottom: 10px;
}

.checkbox_sec input {
  margin-left: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: black;
  margin: 10px 0;
  display: block;
}
